body{
	font-family: Impact, cursive, Chalkduster;
}

h1, h1, h3{
	margin: 0;
	font-family: Comic Sans MS;
	font-weight: 700;
}
p{
	font-family: OCR A Std;
}
.logo img{
	border-radius: 50%;
}

nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #363636;
	padding: 30px;
	
}
nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;
}
nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #FFF;
}
@media screen and (min-width: 768px){
	nav{
		flex-direction: row;
		justify-content: space-around;
	}

	nav ul{
		flex-direction: row;
		width: 70%;
	}
	header{
		height: 600px;
		height: 60vh;
	}

}
header{
	background-image: url('../img/fundo2.jpg');
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	color: #FFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	justify-content: center;
}
header p{
	margin-bottom: 2em;
	font-size: 1.7em;
}

.container{
	width: 100%;
}

#Sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: #363636;
	color: #FFF;
}
#Sobre{
	margin-top: 20px;
	font-size: 1.0em;
}
.foto img{
	width: 60%;
}
.foto{
	float: left;
	width: 50%;
}
.texto{
	float: right;
	width: 50%;
}
#Sobre{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	height: 90vh;
	justify-content: center;
	min-height: 80vh;
}
#Sobre h2{
	text-align: center;
	width: 100%;
}
#Sobre div{
	flex-grow: 1;
	flex-basis: 300px;
	padding: 0 10px;
}
#Especialidades {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
}
#Especialidades div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}
#Especialidades p {
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
}
#Especialidades img {
	margin: 10px 0;
}
#Especialidades h2 {
	font-size: 2em;
}
#Especialidades {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}
#Especialidades h2 {
	text-align: center;
	width: 100%;
}
#Especialidades div {
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
}
#Competências div {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#Competências h2 {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 2em;
	text-align: center;
}
#Competências h3 {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
}
#Competências p{
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1em;
	text-align: center;
} 
#Competências a {
	text-decoration: none;
}
#Competências img {
	width: 15%;
	margin-bottom: 0;
}
#Competências .port p{
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 0;
	font-family: Impact, cursive, Chalkduster;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;
}
#Competências {
	flex-direction: row;
	flex-wrap: wrap;
}
#Competências h2, h3 {
	width: 100%;
	text-align: center;
}
#Competências .port {
	width: 33.33%;
	text-align: center;
}